* {
  font-family: Montserrat;
}

header {
  margin: 0 auto;
  width: 1900px;
  height: 80px;
  border-bottom: 1px solid var(--Border-Grey, #ebe8f4);
  background: #fff;
}

body {
  margin: 0 auto;
}

.header-logo {
  color: #22202e;
  font-size: 30px;
  font-style: normal;
  margin-left: 200px;
  font-weight: 400;
  line-height: normal;
}

header ul {
  display: flex;
  margin-left: 450px;
  margin-top: -55px;
  gap: 44px;
}

header li {
  list-style: none;
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: #726e8d;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-icon {
  display: flex;
  gap: 20px;
  margin-top: -35px;
  margin-left: 1500px;
}

main {
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: var(--Dark-Primary, #2a254b);
  font-size: 36px;
  margin-top: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.select-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-right: 180px;
}

.select-item select {
  padding: 12px 24px;
  align-items: center;
  border: none;
  outline: none;

  color: #2a254b;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.container-sort {
  display: flex;
  gap: 20px;
  padding-left: 480px;
}

.container-sort p {
  color: var(--Dark-Primary, #2a254b);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.container-photo {
  margin: 0 auto;
  width: 1470px;
  height: 510px;
}

.main-container_photo {
  margin-top: 28px;
  width: 1300px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.container-photo .main-container_photo p {
  margin-top: -15px;
  background-color: #fff;
  color: var(--Dark-Primary, #2a254b);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

.container-photo a {
  text-decoration: none;
  list-style: none;
}

.main-container_photo p:nth-of-type(1)::after {
  content: " £250";
}

.main-container_photo p:nth-of-type(2)::after {
  content: " £155";
}

.main-container_photo p:nth-of-type(3)::after {
  content: " £125";
}

.main-container_photo p:nth-of-type(4)::after {
  content: " £399";
}

.main-button {
  color: #2a254b;
  font-family: "Open Sans";
  font-size: 16px;
  margin-left: 560px;
  padding: 16px 32px;
  margin-top: 48px;
  border: none;
  background: var(--Light-Grey, #f9f9f9);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.container-email {
  width: 1720px;
  height: 521px;
  margin-top: 150px;
  background-image: url("../img/Image.jpg");
  background-repeat: no-repeat; /* Запрещает повторение изображения */
  float: left;
}

.container-email h2 {
  color: var(--Dark-Primary, #2a254b);
  font-family: Montserrat;
  font-size: 32px;
  margin-left: 800px;
  margin-top: 71px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-email p {
  color: var(--Dark-Primary, #2a254b);
  font-family: "Open Sans";
  font-size: 20px;
  margin-left: 800px;

  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.container-email button {
  color: var(--White, #fff);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  padding: 16px 32px;
  margin-left: 820px;
  margin-top: 190px;
  background: var(--Dark-Primary, #2a254b);
  font-weight: 400;
  border: none;
  line-height: 150%; /* 24px */
}

footer {
  margin: 0 auto;
  background: var(--Dark-Primary, #2a254b);
  width: 1900px;
  height: 490px;
  margin-top: 671px;
}

footer ul li {
  list-style: none;
  color: var(--White, #fff);
  font-size: 14px;
  font-style: normal;
  margin-left: 82px;

  margin-bottom: 20px;
  font-weight: 400;
  line-height: normal;
}

.container-colum {
  display: flex;
  gap: 100px;
}

.footer-head_text {
  color: var(--White, #fff);
  font-family: Montserrat;
  font-size: 16px;
  margin-top: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer hr {
  border: none;
  background: #4e4d93;
  width: 1670px;
  height: 1px;
}

.map-container {
  margin-left: 1050px;
  margin-top: -335px;
}

.icon-container {
  display: flex;
  gap: 22px;
  margin-left: 1440px;
  margin-top: 155px;
}

footer p {
  color: var(--White, #fff);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: -20px;
  margin-left: 115px;
  line-height: normal;
}
